#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #63ab97;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fade-out 1s linear 3s both;
}