[id*="situation"] {
    background-color: #000;

    &.active {
        .counter-container {
            .counter {
                opacity: 1;
                transition: opacity 1s ease 1.5s;
            }
        }
    }


    .bV {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        pointer-events: none;
        animation: bV 100s linear infinite;

        &~* {
            position: relative;
        }
    }

    &#situation0 {
        .bV {
            top: 0;
            left: 100%;
            width: 36rem;
            animation-direction: reverse;
        }
    }

    &#situation1 {
        .bV {
            top: 0;
            left: 0;
            height: 70rem;
        }
    }

    // 台灣疫苗施打狀況
    &#situation_taiwan_chart {
        .bV {
            top: 70%;
            left: 100%;
            height: 30rem;
            animation-direction: reverse;
        }

        .h1 {
            font-size: 5rem;
            margin-bottom: 1.75rem;
        }

        .h5 {
            font-size: 1.75rem;
        }
    }

    .container-fluid {
        width: 1600px;
        max-width: 95%;
    }

    h2 {
        font-size: 5rem;
        margin-bottom: 10vh;
    }

    .h3 {
        font-size: 2rem;
    }

    .counter-container {
        .counter {
            opacity: 0;
            transition: opacity 0.5s ease;
        }
    }

    .accordition {
        $max-tabs: 8;
        $tab-width: 40px;

        $clr-bg: #1c1f2b;
        $clr-bg-light: lighten($clr-bg, 10%);
        $clr-bg-lighter: lighten($clr-bg, 15%);
        $clr-bg-dark: darken($clr-bg, 2.5%);
        $clr-bg-darker: darken($clr-bg, 5%);
        $clr-text: white;
        $clr-text-hint: rgba($clr-text, 0.6);
        $clr-primary: blue;
        /* LIST */
        list-style: none;
        background: #ccc;

        padding-bottom: 5vh;

        /* FORM */
        // Hide the input
        input {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        // Make the label a vertical bar
        label {
            display: block;
            float: left;
            height: 40vh;
            width: $tab-width;
            writing-mode: vertical-lr;
            overflow: hidden;

            background: $clr-bg-light;
            color: #fff;
            text-align: center;
            font-size: 14px;
            line-height: $tab-width + 10;

            transition: background 0.3s ease;

            &:hover {
                transition-duration: 0s;
            }
        }

        li:nth-child(even)>input+label {
            background: $clr-bg-lighter;
        }

        label:hover,
        li:nth-child(even)>input+label:hover {
            background: $clr-primary;
            color: #fff;
            cursor: pointer;
        }

        input[type="radio"]:checked~label {
            background: $clr-primary;
            cursor: default !important;
        }

        /* SLIDES */
        .accslide {
            display: block;
            height: 100%;
            width: 0px;
            padding: 10px 0;
            float: left;
            overflow-x: hidden;

            font-size: 12px;
            line-height: 1.5;

            // Prevents text "squishing", but will cut off text if it is too long
            white-space: nowrap;

            transition: all 700ms ease;

            * {
                padding-left: 10px;
            }

            img {
                margin-top: 10px;
            }
        }

        input[type="radio"]:not(:checked)~label>* {
            font-size: 1.2em;
            white-space: nowrap;
        }

        @for $i from 2 through $max-tabs {
            @for $j from 1 through $i {
                li:nth-child(#{$j}):nth-last-child(#{$i - $j + 1}) input[type="radio"]:checked~.accslide {
                    width: calc(100% - #{$i * $tab-width});
                }
            }
        }

        .odometer {
            font-size: 60px;
            margin: 200px 0;
            text-align: center;
            width: 100%;
            animation-duration: 3s;
        }
    }

    .chart-area {
        position: relative;
        height: 346px;
        flex: 0 0 346px;
        margin: 30px auto 0;
        overflow: hidden;

        #situationChart {
            height: 100% !important;
        }
    }

    @media (max-width: 767px) {
        .chart-area {
            height: auto;
            flex: 0 0 auto;
            #situationChart {
                height: auto !important;
            }
        }
    }
}