// #banner,#situation_world,#situation_taiwan,#situation_taiwan_chart,#virus_introduction,#map-area {
//     display: none;
// }

#fullpage [id*="symptom"] .full-page-inner {
    @media (max-width: 767px) {
        min-height: 0;
    }
}

[id*="symptom"] {
    background-color: aliceblue;
    height: 100vh;


    h1 {
        color: rgba(120, 142, 171, 1);
        font-size: 2.5vw;
        font-size: 3rem;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }

    [class*="s9_main"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .s9_svg {
        position: relative;
        display: flex;
        flex-grow: 2;
        width: 100%;
        justify-content: center;
        overflow: hidden;
    }

    svg {
        width: 100%;
    }

    &#symptomTop {
        overflow: hidden;
        .s9_mainTop {
            cursor: pointer;

            svg {
                width: 100%;
                overflow: visible;

                .green {
                    z-index: 15;
                }

                .blue {
                    z-index: 1;
                }
            }

            .imgL,
            .imgR {
                position: absolute;
            }

            .imgL {
                transform: translate(60%, -60%)
            }

            .imgR {
                transform: translate(-50%, 30%)
            }


            @media (max-width: 767px) {
                height: 100%;

                svg {
                    display: none;
                }

            }

        }

    }

    &#symptomBottom {

        .s9_mainBottom {


            .s9_svg {


                svg {
                    display: block;
                    cursor: pointer;
                    // width: auto;
                    // height: auto;
                    // max-width: 100%;
                    // max-height: 100%;
                    margin-top: 30px;
                    height: 100%;

                    .cls-1,
                    .cls-2,
                    .cls-4,
                    .cls-5,
                    .cls-6 {
                        fill: none;
                    }

                    .cls-1 {
                        stroke: #000;
                        stroke-linecap: round;
                    }

                    .cls-1,
                    .cls-2,
                    .cls-3 {
                        stroke-width: 3px;
                    }

                    .cls-2,
                    .cls-3,
                    .cls-4,
                    .cls-5,
                    .cls-6 {
                        stroke: #253a56;
                    }

                    .cls-3 {
                        fill: #919e99;
                        fill-opacity: 0.25;
                    }

                    .cls-4 {
                        stroke-width: 3px;
                    }

                    .cls-5 {
                        stroke-width: 3px;
                    }

                    .cls-6 {
                        stroke-width: 3px;
                    }

                    .cls-7 {
                        fill: #253a56;
                    }

                }
            }
        }
        @media (min-width: 1200px){
            .s9_mainBottom {
                &:hover .s9_svg svg {
    
                    #OOO {
                        opacity: 1;
                    }
    
                    #LINE {
                        opacity: 1;
                    }
    
                    #BIGT {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
    
                    #TEXTT {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
                .s9_svg svg {
                    #OOO {
                        opacity: 0;
                        transition: all 1.5s linear;
                    }

                    #LINE {
                        opacity: 0;
                        transition: all 1.5s ease 0.8s;
                    }

                    #BIGT {
                        opacity: 0;
                        transform: translate(-3%, 0);
                        transition: all 1.5s ease 0.8s;
                    }

                    #TEXTT {
                        opacity: 0;
                        transform: translate(0, 3%);
                        transition: all 2s ease 2s;
                    }
                }
            }
        }
    }


    @media (max-width: 1459px) {
        // h1 {
        //     margin-top: 10.5%;
        // }
    }

    @media (max-width: 1199px) {
        h1 {
            font-size: 3rem;
        }
    }

    @media (max-width: 767px) {
        height: auto;
    }


}