#virus_introduction {
    // overflow: hidden;

    .row1 {
        pointer-events: auto;
    }

    .l_bg,
    .r_bg,
    .l_content,
    .row2 {
        pointer-events: none;
    }

    .s3l_active,
    .s3r_active {

        .l_content,
        .row2 {
            pointer-events: auto;
        }
    }


    .s3_left {
        position: relative;
        width: 50%;
        height: 100%;
        z-index: 1;

        &:hover {
            z-index: 2;
        }

        .l_content {
            z-index: 1;
            position: absolute;
            top: 0;
            width: 200%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            .row1 {
                width: 100%;

                .h1 {
                    font-size: 4rem;
                    text-align: center;
                    margin-bottom: 2rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .row2 {
                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        border-radius: 50%;
                        max-width: 90%;
                    }
                }

                .text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all 1.4s ease-in-out;
                    transition-delay: 0s;
                    transform: translateX(100%);

                    article {
                        font-size: 1.875rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }

        .l_bg {
            position: relative;
            top: 0;
            width: 200%;
            height: 100%;
            clip-path: polygon(0 0, 60.1% 0, 40.1% 100%, 0% 100%);
            background-color: #253a56;
            transition: all 1.8s ease-in-out;
            transition-delay: 0.2s;
        }


        // 打開的畫面
        &.s3l_active {

            z-index: 2;

            .l_bg {
                width: 500%;
                transition-delay: 0s;
            }

            .l_content {

                .text {
                    margin-left: 0;
                    transform: translateX(-15%);
                    opacity: 1;
                    transition-delay: 0.6s;
                }
            }
        }
    }

    .s3_right {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        color: white;
        z-index: 1;


        .r_content {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 1.5s ease;

            #scene1 {
                position: absolute;
                left: 60%;
                top: 15%;

                img {
                    animation: s3r2 34s infinite;
                    transition: all 3s ease;
                }

            }


            #scene2 {
                position: absolute;
                left: 17%;
                top: 15%;

                img {
                    animation: s3r1 30s infinite;
                    transition: all 3s ease;
                }
            }

            #scene3 {
                position: absolute;
                left: 6%;
                top: 70%;

                img {
                    animation: s3r2 28s infinite;
                    transition: all 3s ease;
                }
            }

            #scene4 {
                position: absolute;
                right: 40%;
                top: 45%;

                img {
                    animation: s3r1 26s infinite;
                    transition: all 3s ease;
                }
            }

            #scene5 {
                position: absolute;
                right: 10%;
                top: 80%;

                img {
                    animation: s3r2 20s infinite;
                    transition: all 3s ease;
                }
            }

            .h1 {
                width: 100%;
                text-align: center;
                z-index: 2;
                position: absolute;
                display: block;
                left: 50%;
                bottom: 15%;
                transform: translate(-50%);
                font-size: 4rem;

                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .r_bg {
            position: absolute;
            right: 0;
            top: 0;
            background-color: #0e0e0e;
            width: 200%;
            height: 100%;
            clip-path: polygon(59.9% 0, 100% 0, 100% 100%, 39.9% 100%);
            transition: all 2.5s ease;
            transition-delay: 0.8s;
        }

        .s3r_outer {
            z-index: 2;
            position: absolute;
            left: 0;
            margin-top: 15%;
            width: 180%;
            transform: translate(-200%, 0);
            transition: all 1.5s ease-in-out;

            article {
                font-size: 1.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 3rem;
            }

            .p {

                position: relative;

                .bg-wrapper {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%;

                    .bg {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url(../images/virus_introduction/lifeCycle.png);
                        background-attachment: fixed;
                        background-size: 200% 200%;
                        background-position: 0% 25%;
                        transition: all 2s ease-in-out;
                    }
                }
            }

        }


        &.s3r_active {
            z-index: 2;

            .r_content {

                #scene1 {
                    img {
                        animation: s3lDisappear1 2s forwards !important;
                        opacity: 0;
                        transition: all 2s ease;
                    }
                }

                #scene2 {
                    img {
                        animation: s3lDisappear2 2s forwards !important;
                        opacity: 0;
                        transition: all 2s ease;
                    }
                }

                #scene3 {
                    img {
                        animation: s3lDisappear1 2s forwards !important;
                        opacity: 0;
                        transition: all 2s ease;
                    }
                }

                #scene4 {
                    img {
                        animation: s3lDisappear2 2s forwards !important;
                        opacity: 0;
                        transition: all 2s ease;
                    }
                }

                #scene5 {
                    img {
                        animation: s3lDisappear1 2s forwards !important;
                        opacity: 0;
                        transition: all 2s ease;
                    }
                }

            }

            .r_bg {
                width: 500%;
                margin-left: -300%;
                transition: all 2s ease;
            }

            .s3r_outer {
                left: 0;
                top: 5%;
                transform: translate(-50%, 0);
                transition: all 2.8s ease-out;
                transition-delay: 0.2s;
            }
        }
    }

    @media (min-width: 1200px) and (max-width: 1459px) {
        .s3_right {
            .s3r_outer {
                top: 15% !important;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .s3_left {

            // 打開的畫面
            &.s3l_active {
                .l_content {

                    .text {
                        transform: translateX(0%);
                    }
                }
            }
        }

        .s3_right {
            .s3r_outer {

                .p .bg-wrapper {
                    height: 100%;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        height: 200vh !important;

        .s3_left {
            width: 100%;
            height: 50%;

            .l_content {
                width: 100%;

                .row2 {
                    .image {
                        max-width: 70%;

                        img {
                            max-width: 70%;
                        }
                    }

                    .text {

                        opacity: 1;
                        transform: translateX(0);
                        text-align: center;

                        article {
                            font-size: 1.5rem;
                            line-height: 1.5rem;
                        }
                    }
                }
            }

            .l_bg {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            // 打開的畫面
            &.s3l_active {
                .l_content {

                    .text {
                        transform: translateX(0%);
                    }
                }
            }
        }

        .s3_right {
            position: relative;
            width: 100%;
            height: 50%;

            .r_content {
                position: static;
                width: 100%;

                div[id] {
                   opacity: 0.5;
                }

                #scene1 {
                    top: 5%;
                    left: 50%;
                }

                #scene2 {
                    top: 7%;
                    left: 0%;
                }

                #scene3 {
                    left: 5%;
                    top: 77%;
                }

                #scene5 {
                    right: 0%;
                }

                .h1 {
                    position: absolute;
                    bottom: 5%;
                }
            }

            .r_bg {
                z-index: -1;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            .s3r_outer {
                width: 100%;
                top: 5%;
                transform: translate(0, 0);

                article {
                    text-align: center;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    margin-bottom: 5%;
                }
            }

            &.s3r_active {
                .s3r_outer {
                    transform: translate(0, 0);
                }
            }
        }
    }
}

@keyframes s3r1 {
    0% {}

    50% {
        animation-timing-function: steps(1000);
        transform: translate(10%, -5%) rotate(-360deg);
    }

    100% {
        transform: translate(0) rotate(0deg);
    }
}

@keyframes s3r2 {
    0% {
        animation-timing-function: steps(2000);
    }

    50% {
        animation-timing-function: steps(2000);
        transform: translate(-5%, -10%) rotate(360deg);
    }

    100% {
        animation-timing-function: steps(2000);
        transform: translate(0) rotate(0deg);
    }
}

@keyframes s3lDisappear1 {

    0% {
        animation-timing-function: steps(2000);
    }

    50% {
        animation-timing-function: steps(2000);
        transform: translate(-2.5%, -5%) rotate(180deg) scale(50%);
    }

    100% {
        transform: translate(5%, -10%) rotate(360deg) scale(0);

    }
}

@keyframes s3lDisappear2 {

    0% {
        animation-timing-function: steps(2000);
    }

    50% {
        animation-timing-function: steps(2000);
        transform: translate(5%, 2.5%) rotate(-180deg) scale(50%);
    }

    100% {
        transform: translate(10%, 5%) rotate(-360deg) scale(0);

    }
}