/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.counterEffect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counterEffect .counter {
  display: inline-block;
  height: 20px;
  font: bold 16px/20px "Source Sans Pro", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.counterEffect .word {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes opacity-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.counterEffect .char {
  position: relative;
  top: 0;
  display: inline-block;
  width: 1em;
  -webkit-animation: opacity-fadein 0.35s both;
          animation: opacity-fadein 0.35s both;
  color: #4f6dc6;
  cursor: alias;
  font-size: 22px;
  line-height: 22px;
  opacity: 0;
  text-align: center;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  -webkit-transition: opacity 0.4s, color 0.3s 0.3s, -webkit-transform 0.35s cubic-bezier(0.65, 1.39, 1, 1.08);
  transition: opacity 0.4s, color 0.3s 0.3s, -webkit-transform 0.35s cubic-bezier(0.65, 1.39, 1, 1.08);
  transition: transform 0.35s cubic-bezier(0.65, 1.39, 1, 1.08), opacity 0.4s, color 0.3s 0.3s;
  transition: transform 0.35s cubic-bezier(0.65, 1.39, 1, 1.08), opacity 0.4s, color 0.3s 0.3s, -webkit-transform 0.35s cubic-bezier(0.65, 1.39, 1, 1.08);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.counterEffect .char:nth-child(1) {
  -webkit-transition-duration: 2.45s, 2.8s, 2.1s;
          transition-duration: 2.45s, 2.8s, 2.1s;
}

.counterEffect .char:nth-child(2) {
  -webkit-transition-duration: 2.1s, 2.4s, 1.8s;
          transition-duration: 2.1s, 2.4s, 1.8s;
}

.counterEffect .char:nth-child(3) {
  -webkit-transition-duration: 1.75s, 2s, 1.5s;
          transition-duration: 1.75s, 2s, 1.5s;
}

.counterEffect .char:nth-child(4) {
  -webkit-transition-duration: 1.4s, 1.6s, 1.2s;
          transition-duration: 1.4s, 1.6s, 1.2s;
}

.counterEffect .char:nth-child(5) {
  -webkit-transition-duration: 1.05s, 1.2s, 0.9s;
          transition-duration: 1.05s, 1.2s, 0.9s;
}

.counterEffect .char:nth-child(6) {
  -webkit-transition-duration: 0.7s, 0.8s, 0.6s;
          transition-duration: 0.7s, 0.8s, 0.6s;
}

.counterEffect .char:nth-child(7) {
  -webkit-transition-duration: 0.35s, 0.4s, 0.3s;
          transition-duration: 0.35s, 0.4s, 0.3s;
}

.counterEffect .char:nth-child(8) {
  -webkit-transition-duration: 0s, 0s, 0s;
          transition-duration: 0s, 0s, 0s;
}

.counterEffect .char::before,
.counterEffect .char::after {
  content: attr(data-nbefore);
  position: absolute;
  right: 0;
  bottom: 22px;
  width: 20px;
  text-orientation: inherit;
  -webkit-writing-mode: inherit;
      -ms-writing-mode: inherit;
          writing-mode: inherit;
}

.counterEffect .char::after {
  content: attr(data-nafter);
  bottom: auto;
  top: 22px;
}

#fp-nav {
  padding: 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#fp-nav.fp-right {
  right: -30px;
}

#fp-nav.fp-right:hover {
  right: 0;
}

#fp-nav.fp-right:hover ul li .fp-tooltip {
  width: auto;
  opacity: .5;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

#fp-nav.fp-right:hover ul li .active ~ .fp-tooltip {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#fp-nav ul li a span {
  border: solid 1px rgba(255, 255, 255, 0.6);
}

.popup-content {
  width: 100%;
}

.popup-content .swiper {
  width: 100%;
}

.popup-content .swiper .swiper-slide {
  width: 100%;
}

#banner .swiper {
  position: relative;
  width: 100%;
}

#banner .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100vh;
}

#banner .swiper article {
  position: absolute;
  width: 430px;
  max-width: 100%;
  padding: 15px;
  left: 20%;
  top: 40%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: #FFF;
}

#banner .swiper article .title {
  font-size: 64px;
}

#banner .swiper article .subtitle {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#banner .swiper article .title + .subtitle {
  margin-top: 50px;
}

#situation .accordition {
  /* LIST */
  list-style: none;
  background: #ccc;
  /* FORM */
  /* SLIDES */
}

#situation .accordition input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#situation .accordition label {
  display: block;
  float: left;
  height: 40vh;
  width: 40px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  overflow: hidden;
  background: #30354a;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

#situation .accordition label:hover {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

#situation .accordition li:nth-child(even) > input + label {
  background: #3a4059;
}

#situation .accordition label:hover,
#situation .accordition li:nth-child(even) > input + label:hover {
  background: blue;
  color: #fff;
  cursor: pointer;
}

#situation .accordition input[type="radio"]:checked ~ label {
  background: blue;
  cursor: default !important;
}

#situation .accordition .accslide {
  display: block;
  height: 100%;
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow-x: hidden;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

#situation .accordition .accslide * {
  padding-left: 10px;
}

#situation .accordition .accslide img {
  margin-top: 10px;
}

#situation .accordition input[type="radio"]:not(:checked) ~ label > * {
  font-size: 1.2em;
  white-space: nowrap;
}

#situation .accordition li:nth-child(1):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 80px);
}

#situation .accordition li:nth-child(2):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 80px);
}

#situation .accordition li:nth-child(1):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 120px);
}

#situation .accordition li:nth-child(2):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 120px);
}

#situation .accordition li:nth-child(3):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 120px);
}

#situation .accordition li:nth-child(1):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}

#situation .accordition li:nth-child(2):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}

#situation .accordition li:nth-child(3):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}

#situation .accordition li:nth-child(4):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}

#situation .accordition li:nth-child(1):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

#situation .accordition li:nth-child(2):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

#situation .accordition li:nth-child(3):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

#situation .accordition li:nth-child(4):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

#situation .accordition li:nth-child(5):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

#situation .accordition li:nth-child(1):nth-last-child(6) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}

#situation .accordition li:nth-child(2):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}

#situation .accordition li:nth-child(3):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}

#situation .accordition li:nth-child(4):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}

#situation .accordition li:nth-child(5):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}

#situation .accordition li:nth-child(6):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}

#situation .accordition li:nth-child(1):nth-last-child(7) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(2):nth-last-child(6) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(3):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(4):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(5):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(6):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(7):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}

#situation .accordition li:nth-child(1):nth-last-child(8) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(2):nth-last-child(7) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(3):nth-last-child(6) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(4):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(5):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(6):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(7):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition li:nth-child(8):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

#situation .accordition .odometer {
  font-size: 60px;
  margin: 200px 0;
  text-align: center;
  width: 100%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#situation .chart-area {
  position: relative;
  height: 346px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 346px;
          flex: 0 0 346px;
  margin: auto;
  overflow: hidden;
}

#situation .chart-area #situationChart {
  height: 100% !important;
}

#Post-pandemic {
  position: relative;
  height: 100vh;
}

#Post-pandemic .post-pandemic-section .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url() 50% 50%/cover no-repeat;
}

#Post-pandemic .post-pandemic-section .bg video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#Post-pandemic .post-pandemic-section .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#Post-pandemic .post-pandemic-section .container-fluid {
  width: 80%;
}

#Post-pandemic .post-pandemic-section svg {
  max-width: 100%;
  max-height: 80%;
}

#Post-pandemic .post-pandemic-section .cls-1 {
  fill: #fff;
}

#Post-pandemic .post-pandemic-section .cls-2 {
  opacity: 0.6;
}

#popup-Post-pandemic-content .swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#popup-Post-pandemic-content .swiper-slide {
  width: 100%;
  height: 100vh;
}

#popup-Post-pandemic-content ul {
  margin-top: 103px;
  width: 846px;
}

#popup-Post-pandemic-content li {
  font-size: 48px;
}

#popup-Post-pandemic-content li:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  width: 0%;
  opacity: 0;
  height: 5px;
  background: white;
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#popup-Post-pandemic-content li.active {
  font-size: 96px;
  position: relative;
}

#popup-Post-pandemic-content li.active:before {
  width: 100%;
  opacity: 1;
}

#popup-Post-pandemic-content .bottom-content {
  margin-top: 142px;
}

#popup-Post-pandemic-content .swiper-button-prev {
  color: white;
}

#popup-Post-pandemic-content .swiper-button-next {
  color: white;
}

#popup-Post-pandemic-content .position-absolute {
  top: 0;
  right: 0;
}

#popup-Post-pandemic-content .text-container .text-light {
  font-size: 32px;
  line-height: 48px;
}

#popup-Post-pandemic-content .text-container .right {
  padding-right: 12vw;
}

#popup-Post-pandemic-content .text-container .left {
  padding-left: 12vw;
}

#popup-Post-pandemic-content .img-container {
  padding-top: 58px;
}

#popup-Post-pandemic-content .img-container img {
  max-width: 100%;
}

.fancybox__container .fancybox__backdrop {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.85);
}

.fancybox__container .fancybox__carousel .fancybox__slide {
  padding: 0;
}

.fancybox__container .fancybox__carousel .fancybox__slide .fancybox__content {
  background-color: transparent;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

#about-us {
  background-color: black;
  height: 100vh;
}

#about-us .container-fluid {
  height: 100%;
  width: 80%;
  padding-top: 110px;
}

#about-us .container-fluid .text-container .top h1 {
  font-size: 96px;
  margin-right: 1rem;
}

#about-us .container-fluid .text-container .top p {
  font-size: 40px;
  line-height: 60px;
}

#about-us .container-fluid .text-container .bottom {
  padding-top: 38px;
}

#about-us .container-fluid .text-container .bottom p {
  font-size: 24px;
  line-height: 36px;
}

#about-us .container-fluid .text-container .bottom span {
  font-size: 36px;
  line-height: 48px;
}

#about-us .container-fluid .img-container {
  padding-top: 110px;
}

#about-us .container-fluid .img-container .img-title {
  padding-top: 40px;
}

#about-us .container-fluid .img-container .rounded-circle {
  width: 242px;
  height: 242px;
  background-color: #fff;
}

#about-us .container-fluid .img-container .rounded-circle img {
  max-width: 95%;
}

#about-us .container-fluid .img-container span {
  font-size: 32px;
}

#about-us .container-fluid .img-container p {
  font-size: 34px;
}

#popup-aboutUs-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#popup-aboutUs-content .bigSwiper {
  height: 80vh;
}

#popup-aboutUs-content .bigSwiper .swiper-slide {
  background-color: black;
}

#popup-aboutUs-content .bigSwiper .swiper-slide .container-fluid {
  max-width: 80%;
}

#popup-aboutUs-content .bigSwiper .swiper-button-prev {
  color: white;
}

#popup-aboutUs-content .bigSwiper .swiper-button-next {
  color: white;
}

#popup-aboutUs-content .bigSwiper .text-container .text-top span {
  font-size: 48px;
  color: #87BCCD;
  line-height: 72px;
  letter-spacing: 36px;
}

#popup-aboutUs-content .bigSwiper .text-container .text-top p {
  font-size: 96px;
}

#popup-aboutUs-content .bigSwiper .text-container .text-bottom {
  padding-top: 58px;
}

#popup-aboutUs-content .bigSwiper .text-container .text-bottom p {
  font-size: 40px;
  line-height: 54px;
}

#popup-aboutUs-content .bigSwiper .img-container img {
  max-width: 100%;
}

#popup-aboutUs-content .textSwiper {
  height: 20vh;
  background-color: #0C192C;
}

#popup-aboutUs-content .textSwiper .swiper-wrapper .swiper-slide {
  width: 20%;
  height: 100%;
}

#popup-aboutUs-content .textSwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active p {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#popup-aboutUs-content .textSwiper .swiper-wrapper .swiper-slide p {
  font-size: 40px;
  line-height: 20vh;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.fancybox__container .fancybox__backdrop {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.85);
}

.fancybox__container .fancybox__carousel .fancybox__slide {
  padding: 0;
}

.fancybox__container .fancybox__carousel .fancybox__slide .fancybox__content {
  background-color: transparent;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

#footer {
  height: 183px;
  background-color: #5C5C5C;
}

#footer .info {
  height: 134px;
}

#footer .info p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 5px;
}

#footer .info .p-left {
  padding-left: 17px;
}

#footer .info .p-right {
  padding-right: 17px;
}

#footer .info .rounded-circle {
  width: 65px;
  height: 65px;
  background: #C4C4C4;
}

#footer .info .rounded-circle img {
  max-width: 100%;
}

#footer .copyright {
  height: 49px;
}

#footer .copyright p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */